<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.doosoft.spring.dataaccess.mybatis.repository.UserMapper">
	
	<select id="findAll" resultType="org.doosoft.spring.dataaccess.mybatis.domain.User" >
		SELECT * from user
	</select>
	
	<select id="findById" resultType="org.doosoft.spring.dataaccess.mybatis.domain.User" parameterType="long">
		SELECT * FROM user WHERE id = #{value}
	</select>
	
	<select id="find" parameterType="org.doosoft.spring.dataaccess.mybatis.domain.User" resultType="org.doosoft.spring.dataaccess.mybatis.domain.User">
		SELECT * FROM user WHERE id = #{id} and username = #{username}
	</select>
	
	<insert id="save" parameterType="org.doosoft.spring.dataaccess.mybatis.domain.User">
		insert into user(username,fullName,firstName,lastName) values (#{username},#{fullname},#{firstname},#{lastname});
	</insert>
	
</mapper>